<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>Gallery</title>
</head>

<body>
    <div class="content">
        <header class="bth">
            <nav>
                <a href="/#gallery"><img src="/static/images/arrow.png" alt="Back To Home" style="height: 40px; width:40px;"></a>
            </nav>
            <h1>COORG</h1>
        </header>
        <section class="gallerysection">
            <div class="container">
                <div class="item-container">
                    <div class="item"><img src="/static/images/coorg/coorg2.jpeg" alt=""></div>
                    <div class="item"><img src="/static/images/coorg/coorg3.jpeg" alt=""></div>
                    <div class="item"><img src="/static/images/coorg/coorg4.jpeg" alt=""></div>
                    <div class="item"><img src="/static/images/coorg/coorg5.jpeg" alt=""></div>
                </div>
                <div class="item-container">
                    <div class="item"><img src="/static/images/coorg/coorg6.jpeg" alt=""></div>
                    <div class="item"><img src="/static/images/coorg/coorg7.jpeg" alt=""></div>
                    <div class="item"><img src="/static/images/coorg/coorg8.jpeg" alt=""></div>
                    <div class="item"><img src="/static/images/coorg/coorg9.jpeg" alt=""></div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer">
        <footer>
            <div class="bt foot-div">
              &copy;Copyright Buddies Tourlines All Rights Reserved
            </div>
            <div class="cpy foot-div">
             <a>Terms and Condition</a>
            </div>
            <div class="developer foot-div">
                Designed by -- LOVELACE&trade;
            </div>
        </footer>
      </div>
</body>

</html>